.head-address {
  display: flex;
  flex-direction: column-reverse;
  // margin-left: auto;
  & a {
    display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    color: var(--primery-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  & li + li {
    // margin-left: 50px;
  }
}

.head-pages a:hover,
.head-pages a:focus,
.head-address a:hover,
.head-address a:focus {
  color: var(--hover-color);
}
.head-pages__link.current {
  color: var(--hover-color);
}
.head-pages__link.current::after {
  display: flex;
  position: absolute;
  // content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}

.head-pages__item {
  position: relative;
  bottom: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}
.head-mail,
.head-phone {
  display: flex;
}
.head-phone {
  margin-top: 302px;
}
.head-mail {
  margin-top: 32px;
}
.head-mail a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.head-phone a {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.head-mail a,
.head-phone a {
  display: inline-flex;
  align-items: center;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.head-mail a:hover,
.head-phone a:hover,
.head-mail a:focus,
.head-phone a:focus {
  fill: var(--hover-color);
}

.head-address-icon {
  margin-right: 10px;
}
