.head-address {
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-left: 305px;
  }
  & a {
    display: block;

    color: var(--primery-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

}

.head-pages a:hover,
.head-pages a:focus,
.head-address a:hover,
.head-address a:focus {
  color: var(--hover-color);
}
.head-pages__link.current {
  @media screen and (min-width: 768px) {
    color: var(--hover-color);
  }
}
.head-pages__link.current::after {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.head-pages__item {
  position: relative;
  bottom: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}
.head-mail,
.head-phone {
  display: flex;
}
.head-phone {
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 30px;
  }
}
.head-mail {
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.head-mail a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 14px;
  }
}
.head-phone a {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 14px;
    color: #757575;
  }
}

.head-mail a,
.head-phone a {
  display: inline-flex;
  align-items: center;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.head-mail a:hover,
.head-phone a:hover,
.head-mail a:focus,
.head-phone a:focus {
  fill: var(--hover-color);
}

.head-address-icon {
  display: none;
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
