.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.company {
  display: flex;
  & .company__list:not(:first-child) {
    margin-left: 30px;
  }
}
.company__items {
  fill: #afb1b8;
}
.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  &:hover,
  &:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
}
.company__items {
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company__link:hover .company__items,
.company__link:focus .company__items {
  fill: #2196f3;
}
