.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.company__list {
  width: 210px;
   margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 226px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.company__items {
  fill: #afb1b8;
}
.company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  // width: 170px;
  height: 92px;
  &:hover,
  &:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
}
.company__items {
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company__link:hover .company__items,
.company__link:focus .company__items {
  fill: #2196f3;
}
