.footer-list {
  display: flex;
  margin-top: 20px;
}


.footer-wrap {
  margin-left: 70px;
  & .footer-wrap__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.footer > .container {
  display: flex;
}
.footer-list__socials {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.footer-list__link:not(:first-child) {
  margin-left: 10px;
}

