.specials {
  padding-top: 60px;
  padding-bottom: 60px;
     @media screen and (min-width: 1200px) {
    
      padding-top: 94px;
  padding-bottom: 94px;
  }
}
.specials-list__title {
  
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
    @media screen and (max-width: 767px) {
text-align: center;
  }
}
.specials-list__heading {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-color);
}
.specials-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;

  }

}

.specials-li {
  margin-bottom: 30px;
    @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
    }
       @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.specials-li::before {
  display: block;
  content: "";

  height: 120px;
  margin-bottom: 30px;
  background: var(--btn-bg-color);
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}
