.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  & li + li {
    margin-left: 30px;
  }
}
.clients__items {
  fill: #afb1b8;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  &:hover,
  &:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
}

.clients__link svg {
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover svg,
.clients__link:focus svg {
  fill: #2196f3;
}
