.bg-photo {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
}

.cap {
  background-color: var(--cap-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 190px;
}
.cap__header {
  margin-left: auto;
  margin-right: auto;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.cap__btn {
  border: none;
  margin-top: 30px;
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
}