// р і h2 глобальні для сторінки тому клас не задано

.main-studio p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-color);
}
.main-studio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
